<h2>JSON data for 10000 employees</h2>
  <button (click)="loadEmployeeData()">Load JSON Data</button>
  <div class="table-responsive"> 
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Company</th>
    </tr>
    <tr *ngFor="let employee of responseArray" class="table-contents">
        <td>{{ employee.name}}</td>
        <td>{{ employee.email}}</td>
        <td>{{ employee.gender}}</td>
        <td>{{ employee.phone}}</td>
        <td>{{ employee.company}}</td>
    </tr>
  </table>
  </div>